.form= simple_form_for @order do |f|
  =f.input :customer_name
  =f.input :address
  =f.input :email, input_html: { value: @order.user.email }
  =f.input :phone
  =f.input :comment
  =f.button :submit
  =link_to 'Cancel', order_path(@order), method: :delete, class: 'btn'
