=simple_form_for [:admin, @category] do |f|
  =f.input :title, label: t('.category_title')
  - if @category.sub_categories.empty?
    =f.input :parent_id, as: :select, collection: @categories
  =f.button :submit, label: t('.create_category')
