/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
 */
.admin-body {
  padding-top: 50px;
  }
.basic_image {
  position: absolute;
  top: 15%;
  left: 25%;
}

#nav-footer .navbar-inner {
  /* height: 5em; */
   /* background: #352672; */
  /* border: 1px solid #0a1020; */

  /* /1* Gradients for modern browsers, replace as you see fit *1/ */
  /* background-image: -moz-linear-gradient(top, #333333, #222222); */
  /* background-image: -ms-linear-gradient(top, #333333, #222222); */
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222)); */
  /* background-image: -webkit-linear-gradient(top, #2f578e, #316c94); */
  /* background-image: -o-linear-gradient(top, #333333, #222222); */
  /* background-image: linear-gradient(top, #333333, #222222); */
  /* background-repeat: repeat-x; */
}

.translation_missing { background: red; color: black; }
