// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea { resize: vertical; }

#image-preview-modal {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;

  .close {
    color: white;
    opacity: 1;
  }

  .slider {
    height: 100%;
  }
  .carousel-control { margin-top: 0; }
  .left { left: 0; }
  .right { right: 0; }
}

.main-image img {
  width: 450px;
  max-height: 300px
}
