// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea { resize: vertical; }

#image-preview-modal {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;

  .close {
    color: white;
    opacity: 1;
  }

  .slider {
    height: 100%;
  }
  .carousel-control { margin-top: 0; }
  .left { left: 0; }
  .right { right: 0; }
}
  img {
    max-height: 420px;
  }

.main-image img {
  display: block;
  margin: auto;
  max-height: 300px
}
#price {
  position: relative;
  top: 35px;
  margin: auto;
  text-align: center;
  font-size: 30px;
}
#add-to-cart {

  a {
    text-decoration: none;
  }

  .btn-add {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    min-width: 110px;
    padding: 15px 40px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .btn-add:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .btn-5 {
    background: #823aa0;
    color: #fff;
    line-height: 29px;
    font-size: 14px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .btn-5:active {
    background: #9053a9;
    top: 2px;
  }

  .btn-5 span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
  }

  .btn-5:before {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 2.5;
    font-size: 180%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .btn-5:active:before {
    color: #703b87;
  }

  /* Button 5a */
  .btn-5a:hover span {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%);
  }

  .btn-5a:before {
    left: 0;
    top: -100%;
  }

  .btn-5a:hover:before {
    top: 0;
  }
  .icon-cart:before {
    text-align: center;
    font-family: 'FontAwesome';
    content: "\f07a";
  }
}
