// .product-pack {
//   background: white;
//   border: 1px solid #8a46be;
//   float: left;
//   height: 150px;
//   list-style: none;
//   padding: 10px;
//   margin: 0 10px 10px 0;
//   width: 248px;
// }

.view {
    background-color: white;
    width: 248px;
    height: 180px;
    margin: 5px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;

    .mask {
      width: 248px;
      height: 150px;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0
    }

    img {
      display: block;
      position: relative;
      margin: auto;
    }

    h3 {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: relative;
      font-size: 17px;
      padding: 2px;
      background: rgba(0, 0, 0, 0.8);
      margin: 20px 0 0 0
    }
    p {
      position: relative;
      padding-top: 7px;
      border: solid 1px;
      background-color: #FF5434;
      border-radius: 3px;
      width: 246px;
      font-size: 20px;
    }
    // p {
    //   font-family: Georgia, serif;
    //   font-style: italic;
    //   font-size: 12px;
    //   position: relative;
    //   color: #fff;
    //   padding: 2px 20px 20px;
    //   text-align: center
    // }
    a {
      text-decoration: none;
      color: #490000
    }
    a.info {
      margin-top: 50px;
      display: inline-block;
      text-decoration: none;
      padding: 7px 14px;
      background: #0BBD0B;
      color: #fff;
      text-transform: uppercase;
      box-shadow: 0 0 1px #000;

      &:hover  {
      box-shadow: 0 0 5px #000;
      }
    }
}

.view-first {
  img {
    -webkit-transition: all 0.2s linear;
  }

  .mask {
    opacity: 0;
    background-color: rgba(159,182,205, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
  }
  h3 {
    -webkit-transform: translateY(-100px);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
  }
  // p {
  //   -webkit-transform: translateY(100px);
  //   opacity: 0;
  //   -webkit-transition: all 0.2s linear;
  // }
  a.info {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
  }

}
.view-first:hover img {
  -webkit-transform: scale(1.1);
}
.view-first:hover .mask {
  opacity: 1;
}
// .view-first:hover p,
.view-first:hover h3,
.view-first:hover a.info {
  opacity: 1;
  -webkit-transform: translateY(0px);
}
// .view-first:hover p {
//   webkit-transition-delay: 0.1s;
// }
.view-first:hover a.info {
  -webkit-transition-delay: 0.2s;
}

.carousel {
  padding-left: 25px;
}

.carousel-control {
  left: -22px;
}

.carousel-control.right {
  left: auto;
  right: -14px;
}

#full-catalog {
  width: 300px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}

#menu {
  height: 100px;
  background-color: #006CC0;

  nav {
    padding-top: 10px;
    text-align: center;
    a.menu-item {
      position: relative;
      display: inline-block;
      margin: 15px 25px;
      outline: none;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      text-shadow: 0 0 1px rgba(255,255,255,0.3);
      font-size: 1.35em;
    }
  }

  nav a.menu-item:hover,
  nav a.menu-item:focus {
    color: white;
    outline: none;
    text-decoration: none;
  }
  /* Effect 9: second text and borders */
  .main-menu a.menu-item {
    margin: 0 20px;
    padding: 18px 20px;
  }

  .main-menu a.menu-item::before,
  .main-menu a.menu-item::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0.2;
    -webkit-transition: opacity 0.3s, height 0.3s;
    -moz-transition: opacity 0.3s, height 0.3s;
    transition: opacity 0.3s, height 0.3s;
  }

  .main-menu a.menu-item::after {
    top: 100%;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  .main-menu a.menu-item span:first-child {
    z-index: 2;
    display: block;
    font-weight: 300;
  }

  .main-menu a.menu-item span:last-child {
    z-index: 1;
    display: block;
    padding: 8px 0 0 0;
    color: rgba(0,0,0,0.4);
    text-shadow: none;
    text-transform: none;
    font-style: italic;
    font-size: 0.75em;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .main-menu a.menu-item:hover::before,
  .main-menu a.menu-item:focus::before {
    height: 6px;
  }

  .main-menu a.menu-item:hover::before,
  .main-menu a.menu-item:hover::after,
  .main-menu a.menu-item:focus::before,
  .main-menu a.menu-item:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }

  .main-menu a.menu-item:hover span:last-child,
  .main-menu a.menu-item:focus span:last-child {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }

  .dropmenu {
    background-color: black;
    position: absolute;
    display: none;
  }
}
