.carousel {
  .item {
    margin-left: 29px;
  }
  .carousel-control {
    margin-top: 0;
  }
  .left {
    left: -15px;
  }

  .right {
    right: -15px;
  }
}

#full-catalog {

  .btn-cat {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
  .btn-2d {
    border: 3px solid #006CC0;
    color: #006CC0;
    overflow: hidden;
    &:after {
      width: 101%;
      height: 0;
      top: 50%;
      left: 50%;
      background: #006CC0;
      opacity: 0;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }

    &:hover,
    &:active {
      color: white;
    }

    &:hover:after {
      height: 75%;
      opacity: 1;
    }

    &:active:after {
      height: 130%;
      opacity: 1;
    }
  }
  width: 370px;
  height: 105px;
  margin-right: auto;
  margin-left: auto;
  a:hover { text-decoration: none; color: white;}
}


#menu {
  height: 100px;
  background-color: #006CC0;

  nav {
    ul { ul {display:none;}}
    padding-top: 10px;
    text-align: center;
    a.menu-item {
      position: relative;
      display: inline-block;
      margin: 15px 25px;
      outline: none;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      text-shadow: 0 0 1px rgba(255,255,255,0.3);
      font-size: 1.35em;
    }
  }

  nav a.menu-item:hover,
  nav a.menu-item:focus {
    color: white;
    outline: none;
    text-decoration: none;
  }
  .main-menu a.menu-item {
    margin: 0 20px;
    padding: 18px 20px;
  }

  .main-menu a.menu-item::before,
  .main-menu a.menu-item::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0.2;
    -webkit-transition: opacity 0.3s, height 0.3s;
    -moz-transition: opacity 0.3s, height 0.3s;
    transition: opacity 0.3s, height 0.3s;
  }

  .main-menu a.menu-item::after {
    top: 100%;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  .main-menu a.menu-item span:first-child {
    z-index: 2;
    display: block;
    font-weight: 300;
  }

  .main-menu a.menu-item span:last-child {
    z-index: 1;
    display: block;
    padding: 8px 0 0 0;
    color: rgba(0,0,0,0.4);
    text-shadow: none;
    text-transform: none;
    font-style: italic;
    font-size: 0.75em;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .main-menu a.menu-item:hover::before,
  .main-menu a.menu-item:focus::before {
    height: 6px;
  }

  .main-menu a.menu-item:hover::before,
  .main-menu a.menu-item:hover::after,
  .main-menu a.menu-item:focus::before,
  .main-menu a.menu-item:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }

  .main-menu a.menu-item:hover span:last-child,
  .main-menu a.menu-item:focus span:last-child {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }

  .dropmenu {
    display: none;
    float: left;
    width: 100%;
    max-width: 200px;
    background: #aaa;
    padding: 0;
    position: absolute;
    margin-left: 20px;
    list-style: none;
    z-index: 3;
    // background: #006CC0;
    background: rgba(0,113,204,0.8);
    li:hover > ul { display: block; }

    ul {
      list-style: none;
      margin-left: 0;
      // background: #006CC0;
      background: rgba(0,113,204,0.8);
      position: absolute; left: 100%; top:0;
      max-width: 200px;
      width: 100%;
    }

    a {
      display: block;
      position: relative;
      padding: 15px 20px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 300;
      color: #fff;
      border-top: solid 1px;
      text-decoration: none;
      outline: none;
      border-bottom: 1px #003159 solid;
      &:hover {
        background: rgba(255,248,213,0.1);
      }
      &:after {
        right: 10px;
        color: rgba(0,0,0,0.15);
      }
    }
  }
}
