<!DOCTYPE html>
<html>
<head>
  <title>Octopus</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navbar'>
    <div class='navbar-inner'>
      <a class='brand' href='#'>Octopus</a>
      <ul class='nav'>
        <li><a href='#'>Section 1</a></li>
        <li><a href='#'>Section 2</a></li>
      </ul>
    </div>
  </div>

<%= yield %>

</body>
</html>
